@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sora&display=swap');

:root {
    --color-bg: #1d4350;
    --color-bg-dimmed: #17353f;
    --color-main: rgb(255, 238, 0);
    --color-main-dimmed: rgb(219, 205, 0);
    --color-bg-sec: #363636;
    --color-text-sec: black;
    --color-text-sec-dimmed: rgb(31, 31, 31);
    --color-input-bg: #255869;
    --h-navbar: 3em;
}

html * {
   font-family: 'Sora', sans-serif;
   color: var(--color-main);
}

body {
    background: var(--color-bg);
}

p.long {
    text-align: justify;
}

nav {
    background-color: var(--color-main);
}

nav a {
    color: var(--color-text-sec);
    font-family: 'Lobster', cursive; 
}

textarea {
    height:100%
}

#tab li a:hover {
    color: var(--color-main-dimmed);
}

#sub {
    background-color: var(--color-main);
    color: var(--color-text-sec);
    border: thin solid black;
}

#sub:hover {
    background-color: var(--color-main-dimmed);
    color: var(--color-text-sec-dimmed);
}

#list * {
    background-color: var(--color-bg);
}


.inv {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: -9999px;
}

.inv * {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: -9999px;
}