@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sora&display=swap');

:root {
    --color-bg: #1d4350;
    --color-main: rgb(255, 238, 0);
    --color-main-dimmed: rgb(219, 205, 0);
    --color-bg-sec: #363636;
    --color-text-sec: black;
    --color-text-sec-dimmed: rgb(31, 31, 31);
    --color-input-bg: #255869;
    --h-navbar: 3em;
}

html, body {
    min-height: 100%;
}

html *
{
   font-size: 1em;
   font-family: 'Sora', sans-serif;
   color: var(--color-main);
}

.first {
    padding-top: var(--h-navbar);
}

body {
    
    background: var(--color-bg);
    padding: 0;
    margin: 0;
}

input, textarea {
    padding: 5pt;
    margin: 10pt;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em;
}

h2 {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2em;
}

p.long {
    text-align: justify;
}

nav {
    background-color: var(--color-main);
    border-bottom: thin solid var(--color-bg-sec);
}
 
nav * {
    color: #1f1f1f;
}
 
nav a {
    color: #1f1f1f;
    font-family: 'Lobster', cursive; 
}

#table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 1rem;
}

.inv {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.inv * {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

#sub {
    background-color: var(--color-main);
    color: var(--color-text-sec);
    border: thin solid black;
}

#sub:hover {
    background-color: var(--color-main-dimmed);
    color: var(--color-text-sec-dimmed);
}

#x, #y, #html-in, #cls {
    background-color: var(--color-input-bg);
}

.form input, .form textarea {
    margin: auto;
}

.navbar-inverse .navbar-toggler-icon{
    padding: 30pt !important;
}

li a:hover {
    color: var(--color-main-dimmed);
}